*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
/*TOPMAIN*/
.topmain{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    top: 0;
    right: 0;
    position: fixed;
    width: calc(90%);
    display: flex;
    justify-content: right;
    align-items: center;
   
}
.button{
    height: 40px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 2px solid white;
    margin-right: 10px;
    padding: 10px;
    padding-left: 40px;
}
.button a{
    color: white;
    text-decoration: none;
}
/*MAIN*/
main{
    
    height: calc(100vh - 100px);
    background-color: salmon;
    display: flex;
    overflow-y: hidden;
   
}
/*Menu*/
.menu{
    background-color: green;
    border: 1px solid red;
    width: 10%;
    position: relative;
}
.padding-menu{
    padding-left: 10px;
}
.logo{
    display: flex;
    padding-top: 20px;
}
.logo img{
   width: 30%;
}
.logo span {
    color: white;
    width: 100%;
    height: 50px;
    padding-top: 10px ;
    padding-left: 10px;
    font-size: 30px;
    display: flex;
}
/*First-list*/
.firstlist{
    padding-top: 30px;
}
.firstlist ul{
    list-style: none;
}
.firstlist li{
    padding: 5px 0;
}
.home{
    display: flex;
}
.home img{
    width: 20%;
    filter: invert(100%);
}
.home a{
    padding-top: 20px;
    padding-left: 5px;
    text-decoration: none;
    color: black;
}
.home:hover img{
    filter: none;  
}
.home:hover a{
    color: white;
}
.home:hover{
    border-left: 2px solid red;
}

/*Second List*/
.secondlist{
   margin-top: 20px;
   margin-bottom: 200px;
}
.secondlist h2{
    color: white;
}
.playlist{
    margin-top:20px;
    display: flex;
}
.playlist i{
    color: grey;
}
.playlist a{
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-top: 20px;
    
}
.playlist:hover i{
    color: white;  
}
.playlist:hover a{
    color: white;
}
.playlist:hover{
    border-left: 2px solid red;
}
.secondlist ul{
    overflow-y: scroll;
   height: 200px;
}
.name{
    margin-top: 15px;
   
}
.name a{
    padding-left: 0;
    padding-top: 10px;
}
/*User*/
.app{
    display: flex;
}
.install{
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.install img{
    width: 15%;
}
.install a{
    text-decoration: none;
    color: white;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 10px;   
}
.square{
    display: flex;
}
.user a{
    text-decoration: none;
    color: white;
    margin-top:3px ;
    margin-left: 5px;
}

.user{
    display: flex;
    margin-top: 10px;
}
.sign hr{
    width: 90%;
    border: 1px solid grey;
    margin: auto 0;
    margin-left: 7px;
    margin-top: 10px;
}
.sign{
    position: fixed;
    bottom: 100px;
    left: 0; 
    width: 10%;  
    background-color: black;
}

.square img{
    width: 60%;
    margin-left:4px;
    margin-top: 3px;
}
.square{
    background-color: grey;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

/*Interface*/
.interface{
    background-color: black;
    border: 1px solid black;
    width: calc(90%);
    padding-top: 130px;
    overflow-y:scroll;
    position: relative;
}
.paddinginterface{
    padding-left: 20px;
}
.container-list ul{
    display: flex;
    justify-content: center;
}
.container-list li{
    padding: 0 10px;
    list-style: none;
}
.link a{
    text-decoration: none;
    color: gray;
}
.link:hover a {
    color: white;
}
.link hr{
    color: green;
    width: 40%;
    margin-left: 30%;
    display: none;
}
.link:hover hr{
    display: flex;
}
/*Contenitore 1 - 2 - 3*/
.container-card{
    padding-top: 20px;
    display: flex;
    width: 100%;
}

.col{
    width: calc(100% / 6);
    border:none;
    margin-right: 20px;
    padding-bottom: 20px;
    
}
.h2title{
    padding-top: 30px;
    color: white;
}
.immagine {
    position: relative;
}
.card a img{
    width: 100%;
    padding-bottom: 0;
}
.card h3 a{
    text-decoration: none;
    color: white;
    
}
.card h3{
    padding-bottom: 10px;
    text-align: center;
    padding-top: 10px;
}
.card h5{
    color: lightgrey;
    text-align: center;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: black;
    transition: 0.3s;
}
.card:hover .overlay{
 opacity: 0.5;
}

.overlay i{
    font-size: 100px;
    color:white;
    opacity: 1;
    top: 30%;
    left: 30%;
    position: absolute;
    
}
.card:hover .overlay i{
    opacity: 1;
}
.h4title{
    color:grey;
    margin-top: 10px;
}
.square2 .img{
    height: 100%;
    object-fit: cover;
}
.square2{
    width: 300px;
    height: 300px;
    border-radius: 50% ;
    overflow: hidden;
    margin-right: 10px;
}
.artist .col{
    width: 300px;
}
.artist .overlay i{
    top: 35%;
    left: 35%;
}
/*FOOTER*/
footer{
    width: 100%;
    height: 100px;
    background-color: black;
    
}
.confooter{
    display: flex;
    justify-content: space-between;
}
.colf{
    border: 1px solid red;
    height: 100px;
}
.cardf{
    display: flex;
}
.cardf img{
    height: 50px;
    color: white;
    margin-top: 20px;
    padding-left: 5px;
}
.branof{
    margin-top:30px;
    margin-left: 20px;
    margin-right: 50px;
}
.branof h5{
    color: white;
}
.branof span{
    color: grey;
    font-size: 10px;
}
.cardf i{
    color:grey;
    margin-top: 35px;
    margin-right: 20px;
}
/*xs*/
@media  screen and (max-width:600px) {
    .menu{
        width: 10%;
    }
    .topmain{
        width: 90%;
    }
    .interface{
        width: 90%;
    }
    .firstlist a{
        display: none;
    }
    .logo span{
        display: none;
    }
    .logo img{
        width: 50%;
    }
    .firstlist .home img{
        width: 50%;
    }
    .secondlist {
        display: none;
    }
}